/*FONTS*/
@font-face {
    font-family: Lato;
    src: url(../fonts/lato/Lato-Regular.ttf);
}
@font-face {
    font-family: Sinkin;
    src: url(../fonts/sinkin-sans/SinkinSans-600SemiBold.otf);
}
.lato{
    font-family: Lato;
}
.sinkin{
    font-family: Sinkin;
}
/*NAVBAR*/
nav.bg-faded{
    background-color: white;
}
.navbar{
    margin-bottom: 3rem;
}
a, a:visited, a:link, a:active{
    color: black;
}
.navbar a:hover{
    color: #12A18B;
}
.navbar-brand {
  float: none;
  margin-right: 0;
}
.navbar-center{
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height:100%;
}
/*3 ICON SECTION*/
.three-icons .intro{
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.three-icons .intro-txt{
    margin-bottom: 3rem;
}
.three-icons .img-hld{
    margin-bottom: 1rem;
}
.three-icons .info-hld{
    height: 150px;
    text-align: left;
}
.wn-green{
    color: #12A18B;
}
.info-arrow .txt-hld{
    margin-bottom: 1rem;
}
.chev-hld{
    height: 23px;
    width: 44px;
    margin: 0 auto;
    background: url('../img/chevron.png') no-repeat; 
}
.chev-hld:hover, .chev-hld.active{
    height: 23px;
    width: 44px;
    margin: 0 auto;
    background: url('../img/chevron-green.png') no-repeat;
    cursor: pointer;
}
.collapse-box{
    margin-top: 2rem;
}
.collapse-title{
    margin-bottom: 1rem;
}
/*MOBILE APP COMING SOON*/
.app-coming-soon{
    background: #12A18B;
    margin-top: 5rem;
}
.app-coming-soon .left-txt,
.app-coming-soon .right-txt{
    color: white;
    font-size: 2.5rem;
}
.app-coming-soon .left-txt,
.app-coming-soon .right-txt,
.app-coming-soon .center-img{
    line-height: 250px;
}
.app-coming-soon .left-txt{
    text-align: right;
}
.app-coming-soon .right-txt{
    text-align: left;
}
