/*FONTS*/
@font-face {
    font-family: Lato-Light;
    src: url(../fonts/lato/Lato-Light.ttf);
}
@font-face {
    font-family: Sinkin;
    src: url(../fonts/sinkin-sans/SinkinSans-600SemiBold.otf);
}
.lato-light{
    font-family: Lato-light;
}
.sinkin{
    font-family: Sinkin;
}
/*NAVBAR*/
nav.bg-faded{
    background-color: white;
}
.navbar{
    margin-bottom: 3rem;
    background: white;
    height: 190px;
    -webkit-transition: height 400ms; /* Safari */
    transition: height 400ms;
}
a, a:visited, a:link, a:active{
    color: black;
    font-size: 1rem;
}
.navbar a:hover{
    color: #12A18B;
    font-size: 1rem;
}
.navbar-brand {
  float: none;
  margin-right: 0;
}
.navbar-brand img{
  width: 60%;
}
.navbar-center{
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height:100%;
}
.secondary-brand img{
    position: absolute;
    height: 35px;
    width: 40px;
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: opacity 400ms; /* Safari */
    transition: opacity 400ms;
}
.second-nav-links{
    position: absolute;
    right: 0;
    top: 0;
    
}
.inactive-brand{
    display: none;
}
.shrink{
    height: 50px !important    
}
/*3 ICON SECTION*/
#threeR{
    margin-top: 3rem;  
}
#threeR .about-title{
    margin-bottom: 3rem;
    color: lightgray;
    padding-left: 0;
}
.three-icons .intro{
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center !important;
    margin: 0 auto;
    font-size: 1.5rem;
}
.three-icons .intro-txt{
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: justify !important;
}
.reduce-padding{
    margin-bottom: 1rem !important;
    margin-top: -2rem !important;
}
.three-icons .img-hld{
    margin-bottom: 1rem;
}
.three-icons .info-hld{
    height: 150px;
    text-align: justify;
}
.wn-green{
    color: #12A18B;
}
.info-arrow .txt-hld{
    margin-bottom: 1rem;
}
.chev-hld{
    height: 23px;
    width: 44px;
    margin: 0 auto;
    background: url('../img/chevron.png') no-repeat; 
}
.chev-hld:hover, .chev-hld.active{
    height: 23px;
    width: 44px;
    margin: 0 auto;
    background: url('../img/chevron-green.png') no-repeat;
    cursor: pointer;
}
.collapse-box{
    margin-top: 2rem;
    width: 100%;
}
.collapse-box a{
    color: #12A18B !important;
}
.collapse-title{
    margin-bottom: 1rem;
}
.three-r-nav.text-right{
    float: right;
}
/*MOBILE APP COMING SOON*/
.app-coming-soon{
    background: #12A18B;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 2rem 0;
}
.app-coming-soon .left-txt,
.app-coming-soon .right-txt{
    color: white;
    font-size: 2.5rem;
    white-space: nowrap;
    overflow: hidden;
}
.app-coming-soon .left-txt,
.app-coming-soon .right-txt,
.app-coming-soon .center-img{
    line-height: 250px;
}
.app-coming-soon .left-txt{
    text-align: right;
}
.app-coming-soon .right-txt{
    text-align: left;
}
/*ABOUT SECTION*/
#aboutSection{
    margin-top: 250px;
}
.about-section .about-title{
    color: lightgray;
}
.about-section .title-color{
    color: #12A18B;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.about-section .img-hld{
    margin-bottom: 1rem;
}
.about-section .about-copy{
    margin-top: 3rem;
}
/*CONTACT SECTION*/
.contact-section{
    background: #12A18B;
    margin-top: 6rem;
    padding: 2rem 0 5rem 0;
    color: white;
}
.contact-copy{
    padding-left: 5rem;
    padding-right: 5rem;
}
.contact-section a:link,
.contact-section a{
    text-decoration: underline;
    color: white;
}
.contact-section .copyright{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
}
/*BACK TO TOP*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #12A18B url(../img/cd-top-arrow.svg) no-repeat center 50%;
  border: 2px solid white;
  border-radius: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
/*RESPONSIVENESS*/
@-ms-viewport{
  width: device-width;
}
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { 
    .navbar .nav-link{
        white-space: nowrap;
        overflow: hidden;
        font-size: 14px;
    }
    .app-coming-soon .left-txt,
    .app-coming-soon .right-txt,
    .app-coming-soon .center-img{
        line-height: 100px;
        text-align: center;
    }
    .navbar{
        margin-bottom: 10rem;
    }
    .three-icons .info-hld{
        text-align: center;
    }
    .chev-hld, .chev-hld:hover, .chev-hld.active{
        margin-bottom: 2rem;
    }
    #collapseReduceMobile,
    #collapseReuseMobile,
    #collapseRecycleMobile{
        margin-bottom: 3rem;
    }
    .app-coming-soon .right-txt{
        left: -3px;
    }
    .contact-copy{
        padding: 0 1rem;
    }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { 
    .navbar .nav-link{
        white-space: nowrap;
        overflow: hidden;
    }
    .app-coming-soon .left-txt, .app-coming-soon .right-txt{
        text-align: center;
    }
    .app-coming-soon .left-txt,
    .app-coming-soon .right-txt,
    .app-coming-soon .center-img{
        line-height: 100px;
        text-align: center;
    }
    .navbar{
        margin-bottom: 10rem;
    }
    .three-icons .info-hld{
        text-align: center;
    }
    .chev-hld, .chev-hld:hover, .chev-hld.active{
        margin-bottom: 2rem;
    }
    #collapseReduceMobile,
    #collapseReuseMobile,
    #collapseRecycleMobile{
        margin-bottom: 3rem;
    }
    .contact-copy{
        padding: 0 1rem;
    }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { 
    .three-icons .info-hld{
        height: 240px;
        text-align: left;
    }
    .app-coming-soon .left-txt,
    .app-coming-soon .right-txt,
    .app-coming-soon .center-img{
        line-height: 100px;
        text-align: center;
    }
    .info-arrow .txt-hld{
        white-space: nowrap;
        overflow: hidden;
    }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { 
    .contact-copy{
        padding: 0 10rem;
    }
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .contact-copy{
        padding: 0 12rem;
    }
}